.card-container {
  background: rgb(255, 227, 204);
  display: flex;
  flex-direction: row;
}
.user-content {
  background: lightblue;
  text-align: left;
}
.user-content p {
  font-size: 15px;
}

.card-container img {
  width: 30%;
  height: auto;
}
